@{
    ViewData["Title"] = "Home Page";
    ViewData["Message"] = "Salles Web MVC App from C# Course";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewData["Message"]</h2>
    <h3>Hello, I am @ViewData["Student"]</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
